@model List<WithdrawalsViewModel>
@{
    ViewBag.Title = "账户提现";
}
<link href="~/Content/css/fiexdtoolstyle.css" rel="stylesheet" />
<style>
    .container-fluid > .row article > .row {
        padding: 10px;
        border-bottom: 1px solid #808080;
    }

        .container-fluid > .row article > .row a {
            color: black;
        }

    .datarow {
        min-height: 36px;
    }

    .dataaction {
        line-height: 36px;
        text-align: center;
    }
</style>
<div class="container-fluid" style="padding-top: 12px;">
    <div class="row" style="background-color: #fff;">
        <article class="col-sm-12 col-md-12 col-lg-12">
            @{
                if (Model.Count > 0)
                {
                    int index = 1;
                    string style = string.Empty;
                    foreach (WithdrawalsViewModel item in Model)
                    {
                        if (index == Model.Count)
                        {
                            style = "style=margin-bottom:60px;";
                        }
                        index++;
                        <div class="row datarow" @style>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4">姓名:@item.Name</div>
                                    <div class="col-xs-8">银行:@item.Bank</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">银行卡号:@item.BankNumber</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">金额:@item.Amount.ToString("f2")</div>
                                    @if (item.IsAudit == false)
                                    {
                                        <div class="col-xs-4" style="color:red">审核状态:未审核</div>
                                    }
                                    else
                                    {
                                        <div class="col-xs-8" style="color:blue">审核状态:已审核</div>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </article>
    </div>
    <div class="fiexdtool" style=" margin-bottom:49px;">
        <div class="row">
            <a href="@Url.Action("Apply")" class="btn btn-block btn-lg">申请提现</a>
        </div>
    </div>

</div>

