    <!-- HEADER -->
<header id="header" style="padding: 0px;background-image:none;background-color:#35363B">
    @*<div id="logo-group" class="col-sm-">
            <span id="logo"> <img src="~/content/img/logo.png" alt="SmartAdmin"> </span>
        </div>*@
    <div class="row" style="width:100%">
        <div class="col-xs-3">
            @Html.Partial("_TopRight")
        </div>
        <div class="col-xs-7" style="padding:0px;margin:0 auto;line-height:49px;font-size:20px;font-weight:bold;text-align:center;color:#fff">
            <span id="price">0.00</span> 美元/克
        </div>
        <section class="col-xs-2" id="top-right" style="padding:0px">
            @*<div class="pull-right">
                
            </div>*@
        </section>
    </div>
</header>
<!-- END HEADER -->