@{
    ViewBag.Title = "SumInterest";
}

<div class="container-fluid" style="padding-top: 12px;">
    <div class="row" style="background-color: #fff;">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div style="text-align:center;padding:10px">
                <div>
                    @ViewBag.Msg
                </div>
            </div>
        </article>
    </div>
</div>
