@model TradeBuyViewModel
@{
    ViewBag.Title = "买入";
}

<div class="container-fluid" style="padding-top: 12px;">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

                <div style="border-top:1px solid #CCCCCC">
                    <div class="widget-body">
                        <form class="form-horizontal" action="@Url.Action("Buy")" method="post">
                            <fieldset>
                                <legend>温馨提示：1手=0.5克；欢迎使用</legend>
                                <div class="form-group">
                                    @Html.LabelFor(e => e.Volume, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-openid"></i></span>
                                            @Html.TextBoxFor(e => e.Volume, new { @class = "form-control input-lg", placeholder = "请输入购买手数" })
                                        </div>
                                        @Html.ValidationMessageFor(e => e.Volume)
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10  col-xs-12">
                                            <button class="btn btn-lg btn-block" type="submit">
                                                购买
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
